body {
    color: #111827;
    background: #F9FAFB;
    font-size: 14px;
    font-family: "SF Pro Display", "SF Pro Text", "Inter";
}

a { color: #666666;}

.min-width-22 {
    min-width: 22rem;
}

.txt-grey {
    color: #71717A;
}

.txt-black {
    color: #161C21;
}

.txt-dark-grey {
    color: #666666;
}

.txt-orange {
    color: #EC7100;
}

.txt-light-orange {
    color: #F99E58;
}

.txt-bold {
    font-weight: bold;
}

.txt-bold-big {
    font-weight: bold;
    font-size: 16px;
}

.rounded-radius {
    border-radius: 6px;
}

.navbar {
    border-bottom: 1px solid #F3F4F6;
    position: sticky;
    background-color: #FFFFFF;
}

.border-bottom {
    border-bottom: 1px solid #F3F4F6;
}

.border-top-orange {
    border-top: 0.25rem solid #F99E58;
}

.sidebar {
    font-size: 16px;
    display: flex;
    border-right: 1px solid #F3F4F6;
    align-items: stretch;
    background-color: #FFFFFF;
}

.footer {
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    width: calc(100% - 1.5rem);
    position: absolute;
    bottom: 15px;
}

.footer ul.social {
    list-style: none;
    margin-bottom: 0px !important;
}

.footer ul li {
    float: left;
    margin-right: 1rem;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #F3F4F6;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.nav-link {
    color: #161C21;
    cursor: pointer;
}

.nav-link-active {
    color: #f47321;
}

.btn-primary,
.btn-primary:visited .btn-primary:hover {
    background-color: #f47321;
    border: none;
}

.btn-primary:hover {
    background: #FF7A00;
}

.btn-secondary,
.btn-secondary:visited .btn-secondary:hover {
    border: 1px solid #f47321;
    color: #f47321;
    background: none;
}

.btn-card {
    /* White */
    background: #FFFFFF;
    /* Border */
    border: 1px solid #D3D4D9;
    box-sizing: border-box;
    /* BoxShadow */
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn-long {
    width: 18rem;
    min-width: 60%;
}

.btn-full {
    width: 100%;
}

.dashed {
    border: 1px dashed #959FAE;
    padding: 1rem;
}

.dashed-file {
    border: 1px dashed #959FAE;
    padding: 2rem 1rem;
    width: 100%;
}

.search-input {
    background: url(assets/images/Search.svg) no-repeat scroll 0.5rem 0.5rem;
    background-color: #FFFFFF;
    padding-left: 2.5rem;
}

.main-container {
    margin: 1rem;
    position: relative;
    padding-bottom: 10rem;
}

.body-container {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 0.5rem;
}

.card {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.bg-grey {
    background: #F3F4F6;
    color: #4B5563;
}

.bg-light-grey {
    background-color: #F9FAFB;
}

.bg-background-grey {
    background-color: #F3F2EF;
}

.bg-light-red {
    background: #FBD5D5;
    color: #9B1C1C;
}

.bg-light-blue {
    background: #E1EFFE;
    color: #1E429F;
}

.bg-light-green {
    background: #DEF7EC;
    color: #03543F;
}

.dashboard-h1 {
    font-size: 4rem;
}

.dashboard-main-label {
    color: #F99E58;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.hr {
    background: none;
    border-bottom: 1px solid #CED2D3;
    height: 0.75rem;
}

/* Schedule */
.orange-event {
    background: rgba(249, 158, 88, 0.3);
    color: #161C21;
    border-left: 3px solid #F47321 !important;
}

.blue-event {
    background: rgba(14, 165, 233, 0.1);
    color: #0369A1;
    border-left: 3px solid #0EA5E9 !important;
}

.green-event {
    background: rgba(16, 185, 129, 0.1);
    color: #047857;
    border-left: 3px solid #10B981 !important;
}

.fc-toolbar-label {
    color: #959FAE !important;
}

.fc-toolbar .fc-btn-group:first-child button {
    background-color: #CED2D3;
    color: #FFFFFF;
    margin-right: 2px;
    border-radius: 2px;
}

.fc-toolbar .fc-btn-group:first-child button:nth-child(2) {
    float: left;
}

.fc-toolbar button {
    color: #666666;
    border: none !important;
}

.fc-active {
    background-color: #F47321 !important;
    color: #FFFFFF !important;
    border-radius: 4px !important;
}

.fc-event.fc-selected {
    background: #0EA5E9;
    border-color: #0369A1 !important;
    color: #FFFFFF;
}

/* table */
.rt-tr-group {
    background: #FFFFFF;
}

.rt-tr-group:nth-of-type(even),
.rt-head {
    background: #F9FAFB;
}

.rt-tbody {
    border-top: 1px solid #E5E7EB !important;
}

.tbody,
td,
tfoot,
th,
thead,
tr {
    border: none;
}

.status {
    padding: 2px 10px;
    border-radius: 1rem;
    font-size: 12px;
}

.status-green {
    background-color: #DEF7EC;
    color: #03543F;
}

.status-red {
    background-color: #FBD5D5;
    color: #9B1C1C;
}

.status-blue {
    background-color: #E1EFFE;
    color: #1E429F;
}

/* Referral */
.referral-phone,
.referral-phone-1 {
    width: 14rem;
}

.referral-phone-1 {
    margin-left: -10rem;
    margin-top: 4rem;
}

/* Modal */
.modal-object {
    min-width: 24rem;
}

.modal-object--sm {
    width: 24rem;
}

.modal-footer {
    justify-content: flex-start;
}

/* Overrides */
.btn-check:checked+.btn-outline-dangerr {
    color: white;
    background-color: #F47321;
}

.btn-outline-dangerr {
    color: #F47321;
    border-color: #F47321;
}

.ReactModal__Overlay--after-open {
    z-index: 9999;
}

.card {
    border-radius: 6px;
}

input[type]:focus,
textarea:focus {
    box-shadow: none !important;
    border: 1px solid #F47321;
}

/* Animation */
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.ReactModal__Content {
    box-shadow: 0px 0px 10px grey;
}

.table {
    margin-bottom: 0;
}

.extra {
    border-left: 4px solid orange;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Calendar Customization*/
.cfc-event {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc-v-event {
    display: block;
    border: 0 !important;
    color: #4B5563 !important;
    /* background-color: rgb(252, 237, 189) !important; */
}

.fc * {
    box-shadow: none;
}

.cfc-event-bg-red {
    border-left: 3px solid orange;
    background-color: rgb(13 110 253 / 25%);
}

.cfc-event-bg-green {
    border-left: 3px solid rgb(38, 218, 98);
    background-color: rgb(13 110 253 / 25%);
}

.cfc-event-bg-blue {
    border-left: 3px solid rgb(30, 139, 241);
    background-color: rgb(13 110 253 / 25%);
}

.fc-col-header-cell a,
.fc-daygrid-day-top a {
    text-decoration: none;
}

.fc-button-primary:active,
.fc-button-primary:visited {
    background-color: orange !important;
    color: white;
}

.fc .fc-button-primary:focus {
    box-shadow: none !important;
}

.fc-timegrid-event .fc-event-main {
    padding: 0;
    /* padding: 1px 1px 0; */
}

.fc-event:focus:after {
    background-color: none;
}

.fc-event:focus,
.fc-timegrid-event-harness-inset .fc-timegrid-event {
    box-shadow: none !important;
}

.fc-daygrid-dot-event {
    padding: 0 !important;
}

.fc-day-sun,
.fc-day-sat {
    background-color: #e9eaf1;
}

.border-red {
    border-left: 3px solid red;
    border-bottom: 3px solid rgb(250, 250, 250);
}

.border-orange {
    border-left: 3px solid orange;
    border-bottom: 3px solid rgb(252, 240, 219);
}

.border-green {
    border-left: 3px solid rgb(28, 224, 44);
    border-bottom: 3px solid rgb(252, 240, 219);
}

.border-blue {
    border-left: 3px solid rgb(38, 97, 224);
    border-bottom: 3px solid rgb(252, 240, 219);
}

.blank-state {
    margin-top: 5px;
    padding: 40px 20px;
    font-size: 100%;
    color: #737373;
    text-align: center;
    background-color: #f9f9f9;
}

.blank-state h1,
.blank-state p {
    font-weight: 300;
}

.blank-state p {
    margin-bottom: 10px;
}

.blank-state.blank-state-lg {
    padding: 90px 45px;
    font-size: 150%;
}

.blank-state.blank-state-sm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 45px;
    font-size: 85%;
}

/* */
.c-th {
    border-top: 2px solid #e3e3e3 !important;
}

.th-overdue {
    background-color: #fdf0f1 !important;
    border-bottom: 2px solid #ff9b9b !important;
    color: #f47321;
    font-size: 10px;
    font-family: unset;
}

.th-in-progress {
    background-color: #e6fced !important;
    border-bottom: 2px solid #d5f3c8 !important;
    color: #08ce72;
    font-size: 10px;
    font-family: unset;
}

.th-up-coming {
    background-color: #d7f9fd !important;
    border-bottom: 2px solid #cee3ff !important;
    color: #088fce;
    font-size: 10px;
    font-family: unset;
}

.icon-height-12 {
    height: 20px;
}

.week-list ul {
    padding: 0.2rem 0;
}
.week-list ul li {
    display: inline-block;
}

.week-list ul li .selected .item {
    color: #F3F2EF;
    background-color: #f47321;
}

.week-list ul li .item {
    width: 32px;
    height: 32px;
    font-size: 14px;
    color: #4B5563;
    background-color: #F9FAFB;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.week-list ul li .item:hover {
    color: #F3F2EF;
    background-color: #4B5563;
    cursor: pointer;
}
